.btn-blue {
background-color: #ccb393;
padding: 15px 20px;
border-radius: 4px;
color: white; 
font-weight: bold;
font-family: 'Roboto', sans-serif;
transition: all 0.3s ease-in-out;
}

.btn-blue:hover {
  background-color: #a47b5d;
  cursor: pointer;
  transform: scale(1.1);
}
button:hover {
  transform: scale(1.1);
}